.news__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(181px, 8fr));
    grid-template-rows: 2fr;
    grid-auto-flow: dense;
    gap: 20px;
    justify-items: center;
}

@media screen and (min-width: 120px) and (max-width: 767px) {
    .news__list {
        display: flex;
        flex-direction: column;
    }
}