.mission__inner {
    box-sizing: border-box;
    padding: 127px 4vw 0;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
}

.mission__inner:nth-child(2) {
    flex-direction: row-reverse;
}