.content__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 23px;

}

.content__list>li {
    color: rgba(84, 167, 0, 1);
    font-family: 'Montserrat';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.9%;
    /* 86.94px */
    text-transform: uppercase;
}


.content__list>li>p {
    color: #191919;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.9%;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .content__list {
        flex-direction: column;
    }
}




@media screen and (min-width: 120px) and (max-width: 767px) {
    .content__list>li {
        font-size: 30px;
    }

    .content__list>li>p {
        font-size: 14px;
    }
}