.mission__avatar-container {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}


@media screen and (min-width: 0) and (max-width: 768px) {
    .mission__avatar-container {
        display: flex;
        justify-content: center;
    }
}