.footer__link {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0;
}