.branches__list {
    max-width: 446px;
    max-height: 446px;
    border-radius: 446px;
    background: #FFF;
    box-shadow: 26px 0px 38px 0px rgba(0, 0, 0, 0.25), 23px 0px 60px 0px rgba(0, 0, 0, 0.15) inset, -4px 0px 22px 0px rgba(84, 167, 0, 1);
    border-radius: 446px;
    background: #FFF;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    transform-origin: top center;
    transition: transform 0.3s ease;
}