.hero__subtitle {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: @font-XL;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 769px) {
    .hero__subtitle {
        font-size: 32px;

    }
}


@media screen and (min-width: 120px) and (max-width: 767px) {
    .hero__subtitle {
        font-size: 18px;
    }
}