.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-image: url('../../images/main-background.webp');
    background-size: cover;
    background-position: center;
}