.mission__border {
    animation: rotate 60s infinite linear;
    width: 100%;
    max-width: 278px;
    max-height: 284px;
    height: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }
}


/* 
 @media screen and (min-width: 0) and (max-width: 768px) {
     .mission__border {
        width: 60%;
     }
 } */