.mission__quotes {
    color: #191919;
    font-family: Inter;
    font-size: @font-S;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    padding: 0;
    max-width: 816px;
}

.mission__quotes::before {
    content: url('../../../images/arrow_left.png');
}

.mission__quotes::after {
    content: url('../../../images/arrow_right.png');


}