 /* Общие стили */
 @import '../vendor/normalize.css';
 @import '../vendor/fonts.css';
 @import '../blocks/root/root.css';




 /* Стили для Header */
 @import '../blocks/header/header.css';
 @import '../blocks/header/__logos/header__logos.css';
 @import '../blocks/header/__links/header__links.css';
 @import '../blocks/logo/logo.css';



 .news-o__title {
     color: #191919;
     text-align: center;
     font-family: 'Montserrat';
     font-size: 71px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: uppercase;
     margin: 180px auto 47px;
     padding: 0;
 }

 .news-o__list {
     display: flex;
     max-width: 1380px;
     margin: 0 auto;
     flex-wrap: wrap;
     gap: 85px 20px;
     padding: 0;
 }


 .news-o__image {
     width: 100%;
     height: 100%;
     max-width: 447px;
     max-height: 294px;
     object-fit: cover;
     margin: 0 0 23px;
 }

 .news-o__card {
     display: flex;
     flex-direction: column;
     flex: 30%;
 }

 .news-o__subtitle {
     color: #191919;
     font-family: Inter;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     margin: 0;
     padding: 0;
     text-wrap: balance;
 }

 .news-o__date {
     color: #9B9B9B;
     font-family: Inter;
     font-size: 18px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     margin: 0 0 15px;
     padding: 0;
 }

 .news-o__descr {
     color: #191919;
     font-family: Inter;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin: 0;
     padding: 0;
 }

 .news-o__link {
     text-decoration: none;
 }