.mmkk__title {
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: @font-XL;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 50px;
    padding: 0;
}