.header__links {
    display: flex;
    max-width: 730px;
    align-items: center;
    gap: 34px;
    flex-shrink: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__links>li>a {
    color: #0E212F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    text-transform: uppercase;
    text-decoration: none;
}