.branches__round {
    width: 573px;
    height: 573px;
    flex-shrink: 0;
    border-radius: 573px;
    border: 1px dashed rgba(84, 167, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}