.news__wrapper {
    max-width: 1380px;
    background: #F4F4F4;
    padding: 5vw;
    margin: 0 auto 70px;
}


@media screen and (min-width: 120px) and (max-width: 767px) {
    .news__wrapper {
        padding: 15vw 5vw;
    }
}